html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f7f8fa;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  resize: none;
  outline: none;
}

button {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
